################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/Sample/x64
/SlideShow/x64
/x64/Debug/D3DCompiler_43.dll
/x64/Debug/d3dx10d_43.dll
/x64/Debug/d3dx11d_43.dll
/x64/Debug/d3dx9d_43.dll
/x64/Debug/Sample.exe
/x64/Debug/Sample.pdb
/x64/Debug/simple.cso
/x64/Debug/SlideShow.idb
/x64/Debug/SlideShow.lib
/x64/Debug/SlideShow.pdb
/x64/Release/D3DCompiler_43.dll
/x64/Release/d3dx10_43.dll
/x64/Release/d3dx11_43.dll
/x64/Release/d3dx9_43.dll
/x64/Release/Sample.exe
/x64/Release/Sample.pdb
/x64/Release/simple.cso
/x64/Release/SlideShow.lib
/x64/Release/SlideShow.pdb
Release
Debug
